body{
    background-color: #1A1A1A;
    color: #00FF00;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    border: 2px solid #00FF00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    width: 760px;
    height: 435px;
}

button{
    background-color: #1A1A1A;
    border: none;
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    color: #00FF00;
}

.output-content{
    margin-top: 50px;
}

a{
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
}
