<!DOCTYPE html>
<html>
    <head>
        <title>Saman Saybani</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

        <link rel="stylesheet" href="/src/static/styles/styles.css">
        <script src="/src/static/scripts/scripts.js"></script>
    </head>

    <body>
        <div class="terminal">
            <div class="options">
                <p class="command">Hey there this is Saman Speaking! Welcome to my Portfolio</p>
                <p class="command">----------------------------------------------------------</p>

                <button type="button" class="item">GitHub</button> |
                <button type="button" class="item">Figma</button> |
                <button type="button" class="item">Medium</button> |
                <button type="button" class="item">LinkedIn</button> |
                <button type="button" class="item">Email</button>
            </div>
            <div class="output">

            </div>
        </div>
    </body>
</html>
